<div class="container">
  <div class="card">
    <div class="card-header"><h4>Match Creator</h4></div>
    <div class="card-body">
      <div class="row" *ngIf="latestMatch">
        <div class="col">
          <div class="card">
            <div class="card-header">Team 1</div>
            <div class="card-body">
              <table class="table table-sm">
                <tr *ngFor="let player of latestMatch.teams[0].players"><td>{{player.name}}</td></tr>
              </table>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-header">Team 2</div>
            <div class="card-body">
                <table class="table table-sm">
                  <tr *ngFor="let player of latestMatch.teams[1].players"><td>{{player.name}}</td></tr>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer"><button class="btn btn-primary" (click)="makeMatch()">Make Match</button></div>
  </div>

  <div class="card">
    <div class="card-header"><h4>Players</h4></div>
    <div class="card-body">
      <table class="table" *ngIf="players">
        <thead></thead>
        <tbody>
          <tr *ngFor="let player of players; let i = index"><td>{{player.name}}</td><td><button class="btn btn-sm btn-light" (click)="deletePlayer(i)">Delete</button></td></tr>
        </tbody>
      </table>
      <form #addPlayerForm (ngSubmit)="addPlayer(addPlayerName.value)" class="form-inline">
        <input #addPlayerName class="form-control" placeholder="Name">
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
    <div class="card-footer"></div>
  </div>
</div>